<br /><br />
<div class="responsive-hide">
<div class="forabg">
                
         <div class="inner"><span class="corners-top"><span></span></span>
         <table class="table1">
            <thead>
               <tr>
                  <th style="text-align:left;">
                                     </th>
               </tr>
            </thead>
            <tbody>
               <tr class="bg3">
                  <td style="text-align:center;">
   <br style="clear:all" />
  
   <table style="width:100%; cellspacing=:0">
   <tr>
      <td style="align:{S_CONTENT_FLOW_BEGIN}; valign:top">
         <table style="cellspacing:3; cellpadding:0; border:0">
         <tr>
            <td style="width:20; text-align: center;">{FOLDER_UNREAD_IMG}</td>
            <td class="gensmall">{L_UNREAD_POSTS}</td>
            <td>&nbsp;&nbsp;</td>
            <td style="width:20; text-align: center;">{FOLDER_IMG}</td>
            <td class="gensmall">{L_NO_UNREAD_POSTS}</td>
            <td>&nbsp;&nbsp;</td>
            <td style="width:20; text-align: center;">{FOLDER_ANNOUNCE_IMG}</td>
            <td class="gensmall">{L_ICON_ANNOUNCEMENT}</td>
         </tr>
         <tr>
            <td style="text-align: center;">{FOLDER_HOT_UNREAD_IMG}</td>
            <td class="gensmall">{L_UNREAD_POSTS_HOT}</td>
            <td>&nbsp;&nbsp;</td>
            <td style="text-align: center;">{FOLDER_HOT_IMG}</td>
            <td class="gensmall">{L_NO_UNREAD_POSTS_HOT}</td>
            <td>&nbsp;&nbsp;</td>
            <td style="text-align: center;">{FOLDER_STICKY_IMG}</td>
            <td class="gensmall">{L_ICON_STICKY}</td>         
         </tr>
         <tr>
            <td style="text-align: center;">{FOLDER_LOCKED_UNREAD_IMG}</td>
            <td class="gensmall">{L_UNREAD_POSTS_LOCKED}</td>
            <td>&nbsp;&nbsp;</td>
            <td style="text-align: center;">{FOLDER_LOCKED_IMG}</td>
            <td class="gensmall">{L_NO_UNREAD_POSTS_LOCKED}</td>
            <td>&nbsp;&nbsp;</td>
            <td style="text-align: center;">{FOLDER_MOVED_IMG}</td>
            <td class="gensmall">{L_TOPIC_MOVED}</td>
         </tr>
         </table>
      </td>
   </tr>
   </table>
   <span class="corners-bottom"></span>
      </td>                              
               </tr>
            </tbody>
         </table>
         <span class="corners-bottom"><span></span></span></div></div></div>
